nav {
     
      background-color: rgb(109, 82, 50);
      height: 80px;
      
      font-family: 'Baloo Bhai 2', cursive;
      font-size: 20px;
      margin-bottom: 20px;
      padding: 10px;
      text-align: center;
      color: rgb(255, 255, 255)
    
}
img{ display:inline-flexbox
     display;
    

}

