.TitleCountry{
    padding: 10px;
    width:20%;
    height: 150px;
    display:block;
    margin:auto;
    float:right;
    margin-right: 500px;
}
.TitleCountry p{
    font-size: 95px;
    color: rgba(255,239,206);
    text-shadow: 2px 0 6px #7d634c, -2px 0 6px #7d634c, 0 2px 6px #7d634c, 0 -2px 6px #7d634c, 1px 1px 6px #7d634c,
      -1px -1px 6px #7d634c, 1px -1px 6px #7d634c, -1px 1px 6px #7d634c;
    text-align: center;
    display: block;
    margin: auto;
}