#main-container {
  width: fit-content;
  height: fit-content;
  margin: 0;
  background-color: #ffefce;
  border: 13px solid #7d634c;
  border-radius: 20px;

  p {
    font-size: 60px;
    margin:0 10px;
    color: #ffefce;
    text-shadow: 2px 0 6px #7d634c, -2px 0 6px #7d634c, 0 2px 6px #7d634c, 0 -2px 6px #7d634c, 1px 1px 6px #7d634c,
      -1px -1px 6px #7d634c, 1px -1px 6px #7d634c, -1px 1px 6px #7d634c;
  }
}