.ScoreBtn{
    background-color:rgba(255,239,206);
    border-radius: 125;
    border:9pt linear rgba(125,99,76) ;
    padding: 10px;
}
.ScoreBtn p{
    font-family: Baloo Bhai;
    font-size: 85px;
    color:rgba(255,239,206);
    border-color: rgba(125,99,76);
    text-align: center;
}