.ScoreBtn{
    background-color:rgba(255,239,206);
    border: 5px solid #7d634c;
    padding: 10px;
    width:20%;
    height: 150px;
    border-radius: 50%;

}
.ScoreBtn p{
    font-size: 85px;
    color: #7d634c;
    text-align: center;
    display: block;
    margin: auto;
    margin-top: 20px;
}