<div id="capitale-pin">
  <app-map-pin></app-map-pin>
</div>
<div id="capitale-tile-link">
  <app-basic-tile routerLink="/template-capital" text="CAPITALE" fontSize=60></app-basic-tile>
</div>

<div id="continent-pin">
  <app-map-pin></app-map-pin>
</div>
<div id="continent-tile-link">
  <app-basic-tile routerLink="/template-continent" text="CONTINENT" fontSize=60></app-basic-tile>
</div>

<div id="flag-pin">
  <app-map-pin></app-map-pin>
</div>
<div id="flag-tile-link">
  <app-basic-tile routerLink="/template-country" text="DRAPEAUX" fontSize=60></app-basic-tile>
</div>