<div id="capitale-pin">
  <app-map-pin (click)="showCapital()"></app-map-pin>
</div>
<div id="capitale-tile-link" *ngIf="toggleCapital">
  <app-basic-tile routerLink="/template-capital" text="CAPITAL" fontSize=60></app-basic-tile>
</div>

<div id="continent-pin">
  <app-map-pin (click)="showContinent()"></app-map-pin>
</div>
<div id="continent-tile-link" *ngIf="toggleContinent">
  <app-basic-tile routerLink="/template-continent" text="CONTINENT" fontSize=60></app-basic-tile>
</div>

<div id="flag-pin">
  <app-map-pin (click)="showFlag()"></app-map-pin>
</div>
<div id="flag-tile-link" *ngIf="toggleFlag">
  <app-basic-tile routerLink="/template-country" text="FLAG" fontSize=60></app-basic-tile>
</div>