div {
  width: fit-content;
  height: fit-content;
  position: absolute;
  &:hover {
    cursor: pointer;
  }
}

#capitale-pin {
  top: 35%;
  left: 22%;
}
#capitale-tile-link {
  top: 24%;
  left: 25%;
}

#continent-pin {
  top: 62%;
  left: 32%;
}
#continent-tile-link {
  top: 65%;
  left: 36%;
}

#flag-pin {
  top: 45%;
  left: 72%;
}
#flag-tile-link {
  top: 34%;
  left: 55%;
}
