div{
  width: fit-content;
  height: fit-content;
  position: absolute;
  &:hover {
    cursor: pointer;
  }
}

#capitale-tile-link {
top: 40%;
left: 50%;
}

#continent-tile-link {
  top: 20%;
  left: 10%;
}

#flag-tile-link {
  top: 60%;
  left: 80%;
}
