#start-continent-part{
margin: auto;
display:flex;
justify-content: center;
float: center;
}

#title-continent-part{
    margin: auto;
}
.answer-contient-tiles{
    margin:auto;
    display: inline-end;
    float: right;
    padding-right:200px;
}
#return-continent-part{
    margin:auto;
    float: inline-start;
    margin-top: 5%;
}