<div *ngIf="!hasStartBtnBeenClicked" id="start-continent-part">
  <app-basic-tile text="START" fontSize=50 (click)="startBtnClicked()"></app-basic-tile>
</div>

<div *ngIf="hasStartBtnBeenClicked">

  <div id="score-continent-part">
    <app-score-button [correctAnswers]="correctAnswers" [totalAnswers]="totalAnswers"></app-score-button>
  </div>

  <div id="title-continent-part">
    <app-title-country [titleCountry]="randomCountry"></app-title-country>
  </div>


  <div *ngFor="let country of allAnswerCountries" class="answer-contient-tiles">
    <app-basic-tile [text]="country.continents[0]" fontSize=50 (click)="checkAnswer(country)"></app-basic-tile>
  </div>

  <div id="return-continent-part">
    <app-return-btn></app-return-btn>
  </div>
</div>